<div class="list-wrapper">
    <div id="inventory-list" class="list">
        <div class="el-list-100 list-block-name">Inventory</div>
        <div class="el-list-100 list-block-subname">Equipment</div>
        <div id="consumables-list" class="list-block scrollable">
            <div class="grid-20 el-list-100">
                <% for (let i = 0; i < (5 * 5); i++) { %>
                    <div class="grid-cell">
                        <% if (equipable.length > 0 && equipable[i]) { %>
                            <div class="inventory-item<% if (equipable[i].is_equiped) { %> equiped<% } %>" title="<%= equipable[i].title %>" style="background-image: url(images/<%= equipable[i].image_path %>.png); background-size: cover;">
                                    <% if (equipable[i].is_stackable) { %>
                                        <%= equipable[i].quantity %>
                                    <% } %>
                                    <span id="item-description" style="display: none;"> <%= equipable[i].description %></span>
                                <ul id="inventory-item-menu" class="absent">
                                    <li onclick="getItemInformation(event)">Info</li>
                                    <li class="menu-option<% if (!equipable[i].is_equiped) { %> absent<% } %>" onclick="Inventory.unequipItem(event, <%= equipable[i].cell_id %>)">Unequip</li>
                                    <li class="menu-option<% if (equipable[i].is_equiped) { %> absent<% } %>" onclick="Inventory.equipItem(event, <%= equipable[i].cell_id %>)">Equip</li>
                                    <li onclick="Inventory.deleteItem(event, <%= equipable[i].cell_id %>)">Delete</li>
                                </ul>
                            </div>
                        <% } %>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="el-list-100 list-block-subname">Items</div>
        <div id="equipment-list" class="list-block scrollable">
            <div class="grid-20 el-list-100">
                <% for (let i = 0; i < (5 * 5); i++) { %>
                    <div class="grid-cell">
                        <% if (nonequipable.length > 0 && nonequipable[i]) { %>
                            <div class="inventory-item" title="<%= nonequipable[i].title %>" style="background-image: url(images/<%= nonequipable[i].image_path %>.png); background-size: cover;">
                            <% if (nonequipable[i].qty_in_stack) { %>
                                <div class="item-quantity"><%= nonequipable[i].quantity_actual %></div>
                            <% } %>
                                <span id="item-description" style="display: none;"> <%= nonequipable[i].description %></span>
                                <ul id="inventory-item-menu" class="absent">
                                    <li data-value="info" onclick="getItemInformation(event, <%= i %>)">Info</li>
                                    <% if (nonequipable[i].is_usable) { %>
                                    <li data-value="used" onclick="Inventory.useItem(event, <%= nonequipable[i].cell_id %>)">Use</li>
                                    <% } %>
                                    <li data-value="spent" onclick="Inventory.spendItem(event, <%= nonequipable[i].cell_id %>)">Spend</li>
                                    <li data-value="deleted" onclick="Inventory.deleteItem(event, <%= nonequipable[i].cell_id %>)">Delete</li>
                                </ul>
                            </div>
                        <% } %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>